<h1> Welcome to the secret area. </h1>

<p>
You can clone this repo at <a href="https://github.com/bbensch09/sinatra-skeleton-with-authentication.git"> https://github.com/bbensch09/sinatra-skeleton-with-authentication.git </a>.
</p>